extends /common/layout

block content
  .container
    p text13
    img(src=require("@img/bosch.png").default, alt="bosch").image
    // .image
    svg(width="22", height="22").icon
      use(href="#home")
    // .icon