header.header
  .container
    .header__row
      .header__logo
        a(href="index.html").logo
          img(src=require("@img/logo.png").default, alt="logotype").logo__img
          // .logo__img 
        // .logo 
      // .header__logo 
      .header__menu
        include /includes/main-menu
      // header__menu 
    // header__row 
  // container 
// header 